<br/>
<br/>
<div class='row'>
  <div class='col-6 offset-3'>
    <%= inline_svg_tag 'main_logo.svg', size: '475px * 87px', preserve_aspect_ratio: 'xMaxYMax meet' %>
    <br/>
    <br/>
    <p class='text-primary text-center'>
      Heimdallr è il simbolo della fedeltà e dell'ordine sociale.
      Il guardiano del ponte di Bifrost, che collega Ásgarðr con il mondo esterno.
      Mantiene un registro di chi è all interno e chi all'esterno.
    </p>
    <br/>
    <br/>
  </div>
</div>
