<div class='col-lg-6 offset-3'>
  <div class='card border-primary'>
    <div class='card-body text-center'>
      <%= image_tag('authorization.svg')%>
      <br/>
      &emsp;
      <h3 class='text-primary'>
        Siamo spiacenti!
      </h3>
      <br/>
      <strong class='text-primary'>
        La tua utenza non è autorizzata a compiere queste operazioni. <br/>
        Oppure non sei il proprietario di questo record. <br/>
        Contatta l'amministratore di sistema per ulteriotri informazioni.
      </strong>
    </div>
  </div>
</div>
