<br/>
<br/>
<div class='row align-items-center p-3'>
  <div class='col-6 text-center'>
    <%= inline_svg_tag 'main_logo.svg', size: '475px * 87px', preserve_aspect_ratio: 'xMaxYMax meet' %>
    <br/>
    <br/>
    <p class='text-justify text-primary'>
      <small>
        Heimdallr è il simbolo della fedeltà e dell'ordine sociale.
        Il guardiano del ponte di Bifrost, che collega Ásgarðr con il mondo esterno.
        Mantiene un registro di chi è all interno e chi all'esterno.
      </small>
    </p>
    <br/>
    <br/>
    &emsp;
    <h3 class='text-primary'>
      Heimdallr
    </h3>
    <span class='text-primary'>
      <strong>
        applicativo gestionale per assenze e straordinario
      </strong>
    </span>
    <br/>
    &emsp;
    <br/>
    <span class='text-primary'>
      Backend & Frontend: <a href='https://rubyonrails.org/' target='_blank'>RubyOnRails</a>
      <br/>
      RDBMS: <a href='https://mariadb.org'>MariaDB</a>
      <br/>
      Styling: <a href='https://getbootstrap.com/' target='_blank'>Bootstrap</a>
      <br/>
      Iconset: <a href='https://fontawesome.com' target='_blank'>FontAwesome</a>
    </span>
    <br/>
    <br/>
    <h4 class='text-primary'>
      Versione 1.0.1
    </h4>
    <br/>
  </div>
  <div class='col-6 text-center'>
    <%= inline_svg_tag 'logo_davosky_connection.svg', size: '475px * 128px', preserve_aspect_ratio: 'xMaxYMax meet' %>
    <br/>
    <br/>
    <span class='text-primary'>
      The Davosky Connection <br/>
      by
    </span>
    <br/>
    <a href='mailto:davodavosky@gmail.com'>
      <h4>
        Davo Davodsky
      </h4>
    </a>
  </div>
</div>
