<div class='col-lg-6 offset-3'>
  <br/>
  <p class='text-center'>
    <%= inline_svg_tag 'main_logo.svg', size: '475px * 87px', preserve_aspect_ratio: 'xMaxYMax meet' %>
  </p>
  <br/>
  <hr class='hr-primary'/>
  <br/>
  <h3 class='text-primary text-center'>
    Applicativo Gestionale per Assenze e Straordinario
  </h3>
  <br/>
  <br/>
  <br/>
  <p class='text-center'>
    <small class='text-primary'>
      Heimdallr è il simbolo della fedeltà e dell'ordine sociale. <br/>
      Il guardiano del ponte di Bifrost, che collega Ásgarðr con il mondo esterno. <br/>
      Mantiene un registro di chi è all interno e chi all'esterno.
    </small>
  </p>
</div>
