<div class='col-lg-6 offset-3'>
  <br/>
  <p class='text-center'>
    <%= inline_svg_tag 'main_logo.svg', size: '475px * 87px', preserve_aspect_ratio: 'xMaxYMax meet' %>
  </p>
  <br/>
  <hr class='hr-primary'/>
  <br/>
  <h3 class='text-primary text-center'>
    Applicativo Gestionale per Assenze e Straordinario
  </h3>
  <br/>
  <br/>
  <br/>
  <p class='text-center'>
    Pagina di Ricerca
  </p>
</div>
