<div class='col-8 offset-2'>
  <div class='card border-success shadow'>
    <div class='card-header bg-success text-white'>
      <strong>
        <span class='float-start'>
          <%= inline_svg_tag 'icon_overtimes.svg', size: '96px * 48px', preserve_aspect_ratio: 'xMaxYMax meet' %>
          &emsp;
          Inserisci STRAORDINARIO
          &emsp;&emsp;
        </span>
        <span class='float-end'>
          <%= link_to overtimes_path, class: 'a-light' do %>
            <i class='fas fa-times'></i>
          <% end %>
        </span>
      </strong>
    </div>
    <div class='card-body'>
      <%= render "form", overtime: @overtime %>
    </div>
  </div>
</div>
