<%= form_with(model: absence) do |form| %>
  <% if absence.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(absence.errors.count, "error") %> prohibited this absence from being saved:</h2>
      <ul>
        <% absence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
