<div id="<%= dom_id howto %>">
  <p>
    <strong>Name:</strong>
    <%= howto.name %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= howto.topic_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= howto.description %>
  </p>

</div>
